* {
    margin: 0 auto; 
}

.container {
    padding-top: 160px;
    height: 1000px;
    width: 1000px;
    /* background-color: red; */
    display: flex;
}

.left {
    height: 800px;
    width: 450px;
    /* background-color: azure; */
    /* background-color: blanchedalmond; */
    /* background-color: aqua; */
}

.right {
    height: 800px;
    width: 450px;
    /* background-color: aqua; */
    /* background-color: blanchedalmond; */
}

.dojo_list {
    /* display: flex; */
    /* width: 400px;
    height: 760px; */
    border-style: solid;
}