<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Counter</h1>
    <h2>Visited {{ counter }} times.</h2>
    <h2>Counter: {{ counter2 }}</h2>
    <form action='/click_two' method='post'>
        <button>+2 views</button>
    </form>
    <form action='/click_reset' method='post'>
        <button>Reset</button>
    </form>
    <form action='/set_increment' method='post'>
        <label for='name'>Set Increment</label>
        <input type='text' name='value'>
        <input type='submit' value='Submit'>
    </form>
    
</body>
</html>