<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Index Page</h1>
        <h3>Create a User</h3>
        <form action='/process' method='post'>
            <label for='name'>Your Name:</label>
            <input type='text' name='name'>
            <label for='location'>Dojo Location:</label>
            <select name="location" id="">
                <option value="Select a Location">-- Select a Location --</option>
                <option value="Chicago">Chicago</option>
                <option value="Seattle">Seattle</option>
                <option value="Online">Online</option>
                <option value="Burbank">Burbank</option>
                <option value="Bellevue">Bellevue</option>
            </select>
            <label for="language">Favorite Language:</label>
            <select name="language" id="">
                <option value="Select a Language">-- Select a Language --</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
            </select>
            <label for="comments">Comments:</label>
            <textarea name="comments" id="" cols="30" rows="10"></textarea>
            <input type='submit' value='create user'>
        </form>
    </div>
</body>
</html>